:root {
    --athensgray: #ECEDF1;
    --sanmarino: #49629E;
    --lightblue: #c4dbeb;
}

body {
    background-color: var(--lightblue);
    color: var(--sanmarino);
    font-family: Arial;
    font-style: bold;
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
}

summary {
    text-align: center;
    display: flex;
    flex-direction: column;
}

button {
    text-align: center;
    font-size: 30px;
    background-color: var(--sanmarino);
    color: var(--athensgray);
    padding: 10px 50px;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0px 500px;
}

textarea {
    font-size: 40px;
    text-align: center;
}

#score-screen {
    font-size: 40px;
}

#score-screen li {
    font-size: 25px;
}